/* Importação da fonte 'Autour One' do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

/* Estilos para o corpo (body) da página */
body {
    /* Impede a rolagem horizontal (overflow-x) */
    overflow-x: hidden;
    /* Define a fonte principal como 'Autour One' */
    font-family: 'Autour One';
    /* Define a cor de fundo do corpo como #494949 */
    background-color: #494949;
    /* Define o peso da fonte como 500 */
    font-weight: 500;
    /* Define a cor do texto como branco */
    color: white;
}

/* Estilos para elementos do tipo select (caixa de seleção) */
select {
    /* Remove a borda do elemento (border) */
    border: 0px;
    /* Define a cor de fundo da caixa de seleção como branco (#fff) */
    background-color: #fff;
    /* Define o cursor do mouse como uma mãozinha ao passar sobre a caixa de seleção */
    cursor: pointer;
    /* Define a largura da caixa de seleção como 100% da largura disponível */
    width: 100%;
}
